body{
    display: grid;
    min-height: 100vh;
    grid-template-rows: 150px 1fr 200px 25px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:    "buttons   header    header    allImages"
                            "imagePart imagePart imagePart imagePart "
                            "words     words     words     words"
                            "footer    footer    footer    footer"
}


h1{
    grid-area: header;
    display: flex;
    color: purple;
    background-color: orange;
    text-align: center;
    align-items: center;
    justify-content: space-evenly; 
}

footer{
    grid-area: footer;
    background-color: rgb(214, 40, 214);
}

.buttons{
    grid-area: buttons;
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Roboto'; 
    text-align: center;
    align-items: center;
}

#levelUp{
    display: none;    
}

.allImages{
    grid-area: allImages;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

.imagePart{
    grid-area: imagePart;
    background-color: rgba(0, 128, 0, 0.178);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.hidden{
    display: none;
}

.words{
    grid-area: words;
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.individualWord{
    width: calc(100%/4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 40px;
}


