body{
    background-image: linear-gradient(#ccccff, #0636AD);
    display: grid;
    min-height: 100vh;
    grid-template-rows: 150px 1fr 200px 25px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:    "buttons   header    header    allImages"
                            "imagePart imagePart imagePart imagePart "
                            "words     words     words     words"
                            "footer    footer    footer    footer"
}


h1{
    font-family: 'Mouse Memoirs', sans-serif;
    grid-area: header;
    display: flex;
    color: rgb(212, 24, 34);
    outline-color: black;
    font-size: 6em;
    /* background-color: orange; */
    text-align: center;
    align-items: center;
    justify-content: space-evenly; 
}

footer{
    grid-area: footer;
    /* background-color: rgb(214, 40, 214); */
}

/* ----- Button Sytling ----- */ 

.buttons{
    grid-area: buttons;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

/* start button */ 
.custom-start-class {
    color: rgb(247, 0, 247);
    font-size: 5em;
    cursor: pointer;
}

/* reset button */
.custom-reset-class {
    color: rgb(223, 4, 4);
    font-size: 5em;
    cursor: pointer;
}

/* level up button */ 
.custom-level-class{
    color: rgb(122, 247, 73);
    font-size: 4em;
    display: none;
    cursor: pointer;
}



/* ----- Image Styling ----- */ 

.allImages{
    grid-area: allImages;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

.imagePart{
    grid-area: imagePart;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.hidden{
    display: none;
}


/* ----- Word Styling ----- */ 
.words{
    grid-area: words;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.individualWord{
    width: calc(100%/4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 5em;
    cursor: pointer;
}


